.img-logo {
    max-width: 84px;
}

.text-dsf-theme {
    color: #E5B33F!important;
}

.brand-text {
    font-size: 32px;
}

.bg-dsf-gradient,
header .navbar.navbar-fixed{
    background: linear-gradient(to right,#000,#111);
}

.head-area .head-content h1 {
    font-size: 3rem;
    line-height: 1.2;
    color: #E9D10B;
    font-weight: bolder;
}

.head-area .head-content h3 {
    margin-top: 1.375rem;
}